<form method="post" action = "/albums/<%=@albums.id%>/edit">

  <label for="title">title:</label>
  <input
  type="text"
  name="title"
  id="title-field"
  value="<%= @albums.title %>"
  />

  <label for="genre">Genre:</label>
  <input
  type="text"
  name="genre"
  id="genre-field"
  value="<%= @albums.genre%>"
  />
  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @albums.quantity%>"
  />
  <label for="price">Price:</label>
  <input
  type="text"
  name="price"
  id="price-field"
  value="<%= @albums.price%>"
  />
  <label for="cost">Cost:</label>
  <input
  type="text"
  name="cost"
  id="cost-field"
  value="<%= @albums.cost %>"
  />

  <label>
    Select an artist:
    <select name="artist_id">
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  </label>
  <button type="submit">Update</button>

</form>
