  <h1>VINYL DESTINATION INVENTORY</h1>

  <p> <a href = "/artists">Artists<a/> </p>
  <p> <a href = "/artists/new">New Artist<a/> </p>
  <p> <a href = "/albums/new">New Album<a/> </p>


  <% @albums.each do |album| %>

  <p>Title: <%=album.title%></P>
  <p>Genre: <%=album.genre%></P>
  <p>Cost: <%=album.cost%></P>
  <p>Price: <%=album.price%></P>
  <p>Quantity: <%=album.quantity%></p>
  <%@markup = album.price - album.cost%>
  <p><%=@markup%></p>
  <p> <a href = "/albums/<%= album.id%>">Show Album<a/> </p>
  <p> <a href = "/artists/<%= album.artist_id%>">Show artist<a/></p>
  <form method = "post" action = "/albums/<%= album.id %>/buy">
    <input type = "submit"
    value = "Buy Album"
  />
  </form>
  <form method = "post" action = "/albums/<%= album.id %>/sell">
    <input type = "submit"
    value = "Sell Album"
  />
  </form>

  <%end%>
