<h1>Albums</h1>

<% @albums.each do |album| %>
<p>Title: <%=album.title%></P>
<p>Genre: <%=album.genre%></P>
<p>Cost: <%=album.cost%></P>
<p>Price: <%=album.price%></P>
<p>Quantity: <%=album.quantity%></P>


<%end%>
