<p>Album</p>

<p>Title: <%=@album.title%></p>
<p>Genre: <%=@album.genre%></p>
<p>Cost: <%=@album.cost%></p>
<p>Price: <%=@album.price%></p>
<p>Quantity: <%=@album.quantity%></p>

<% if @album.quantity < 5 && @album.quantity > 0%>
  <%stock = "low stock"%>
<%elsif @album.quantity == 0%>
  <%stock = "out of stock"%>
<%end%>
<p><%=stock%></p>

<form action = "/albums/<%=@album.id%>/delete" method="POST">
<button type="submit">Delete</button>
</form>
<form action= "/albums/<%=@album.id%>/edit" method="get">
<button type="submit">Edit Album</button>
</form>
